@import "./mixins";

/* GLOBAL VARIABLES */
$primary-color: #465775;
$secondary-color: white;
$background-primary: #56e39f;
$background-secondary: #f5f0f6;
$background-tertiary: #d19c1d;
$accent-color: #3a0061;
